.snake {
  height: 15 * (20px + (1 * 2) + (1 * 2));
  width: 15 * (20px + (1 * 2) + (1 * 2));
  margin: 20px auto;
  border: 1px solid #bdc3c7;
  border-radius: 4px;

  &__row {
    overflow: hidden;
  }

  &__cell {
    float: left;
    width: 20px;
    height: 20px;
    margin: 1px;
    border: 1px solid #ecf0f1;
    border-radius: 3px;

    &--field  { background: white;}
    &--snake  { background: #3498db;}
    &--wall   { background: #e67e22;}
    &--fruit  { background: #1abc9c;}
  }
}